<footer class="footer">
  <div class="row">
    <p class="footer-title">Fekteklubben Frie Duellister</p>
    <p>
      E-post: <a href="mailto:post@frieduellister.no">post@frieduellister.no</a>
    </p>
    <p>Orgnr. 986404007<br />Registrert i Frivillighetsregisteret.</p>
    <p>
      <a href="https://www.norsk-tipping.no/grasrotandelen/din-mottaker/986404007">
        Sett oss som din grasrotmottaker!
      </a>
    </p>
    <p class="footer-credit">Background image provided by Royal Armouries.</p>
  </div>
</footer>
