<header class="header">
  <div class="row">
    <div class="header-content">
      <a href="/" class="logo-link">Hjem</a>

      <button class="button-open-navigation" aria-label="Åpne meny" aria-expanded="false">☰</button>
      <button class="button-close-navigation hidden" aria-label="Lukk meny" aria-expanded="true">✖</button>

      <nav class="navigation">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="/opc2026/">Oslo Penguin Cup</a>
          </li>
          <li class="nav-item">
            <a href="/bli-medlem/">Bli medlem</a>
          </li>
          <li class="nav-item nav-expand">
            <button class="nav-expand-toggle" aria-expanded="false">Oslo</button>
            <ul class="nav-expand-list">
              <li class="nav-expand-item">
                <a href="/oslo/trening/">Treninger i Oslo</a>
              </li>
              <li class="nav-expand-item">
                <a href="/oslo/instruktorer/">Instruktører i Oslo</a>
              </li>
            </ul>
          </li>
          <li class="nav-item nav-expand">
            <button class="nav-expand-toggle" aria-expanded="false">Tromsø</button>
            <ul class="nav-expand-list">
              <li class="nav-expand-item">
                <a href="/tromso/trening/">Treninger i Tromsø</a>
              </li>
              <li class="nav-expand-item">
                <a href="/tromso/instruktorer/">Instruktører i Tromsø</a>
              </li>
            </ul>
          </li>
          <li class="nav-item nav-expand">
            <button class="nav-expand-toggle" aria-expanded="false">Bergen</button>
            <ul class="nav-expand-list">
              <li class="nav-expand-item">
                <a href="/bergen/trening/">Treninger i Bergen</a>
              </li>
              <li class="nav-expand-item">
                <a href="/bergen/instruktorer/">Instruktører i Bergen</a>
              </li>
            </ul>
          </li>
          <li class="nav-item nav-expand">
            <button class="nav-expand-toggle" aria-expanded="false">Informasjon</button>
            <ul class="nav-expand-list">
              <li class="nav-expand-item">
                <a href="/info/kontakt/">Kontakt</a>
              </li>
              <li class="nav-expand-item">
                <a href="/info/om-klubben/">Om klubben</a>
              </li>
              <li class="nav-expand-item">
                <a href="/info/partnere/">Partnere</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            {%- assign translation_url = page.translation_url | strip %}
            <a href="{{ translation_url | default: '/en/' }}">In English <span class="flag-icon flag-icon--en"></span></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
