<header class="header">
  <div class="row">
    <div class="header-content">
      <a href="/en/" class="logo-link">Home</a>

      <button class="button-open-navigation" aria-label="Open menu">☰</button>
      <button class="button-close-navigation hidden" aria-label="Close menu">✖</button>

      <nav class="navigation">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="/en/become-a-member/">Become a member</a>
          </li>
          <li class="nav-item nav-expand">
            <button class="nav-expand-toggle">Oslo</button>
            <ul class="nav-expand-list">
              <li class="nav-expand-item">
                <a href="/en/oslo/training/">Training in Oslo</a>
              </li>
              <li class="nav-expand-item">
                <a href="/en/oslo/instructors/">Instructors in Oslo</a>
              </li>
            </ul>
          </li>
          <li class="nav-item nav-expand">
            <button class="nav-expand-toggle">Tromsø</button>
            <ul class="nav-expand-list">
              <li class="nav-expand-item">
                <a href="/en/tromso/training/">Training in Tromsø</a>
              </li>
              <li class="nav-expand-item">
                <a href="/en/tromso/instructors/">Instructors in Tromsø</a>
              </li>
            </ul>
          </li>
          <li class="nav-item nav-expand">
            <button class="nav-expand-toggle">Bergen</button>
            <ul class="nav-expand-list">
              <li class="nav-expand-item">
                <a href="/en/bergen/training/">Training in Bergen</a>
              </li>
              <li class="nav-expand-item">
                <a href="/en/bergen/instructors/">Instructors in Bergen</a>
              </li>
            </ul>
          </li>
          <li class="nav-item nav-expand">
            <button class="nav-expand-toggle">Information</button>
            <ul class="nav-expand-list">
              <li class="nav-expand-item">
                <a href="/en/info/contact/">Contact</a>
              </li>
              <li class="nav-expand-item">
                <a href="/en/info/about/">About the club</a>
              </li>
              <li class="nav-expand-item">
                <a href="/en/info/partners/">Partners</a>
              </li>
            </ul>
          </li>
          <li class="nav-item nav-expand">
            <button class="nav-expand-toggle">English</button>
            <ul class="nav-expand-list">
              <li class="nav-expand-item">
                <a href="/">Norsk</a>
              </li>
              <li class="nav-expand-item">
                <a href="/en/">English</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
