.footer {
  background-color: #303030;
  color: white;
  text-align: center;
  padding-top: $spacing-4;
  padding-bottom: $spacing-2;

  a {
    color: white;
  }

  .footer-title {
    font-size: $font-size-large;
    font-weight: bold;
    margin-bottom: $spacing-1;
  }

  .footer-credit {
    margin-top: $spacing-4;
    margin-bottom: 0;
    font-size: 0.8rem;
    color: #b3b3b3;
  }
}
